@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="btn-group">
        <button type="button" class="btn btn-danger">SELCECT A STUDY<br /></button>
        <p><center> OR </center></p>
        <button type="button" class="btn btn-danger">CREATE A STUDY</button>
        <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Select a Study<br /></a>
            <a class="dropdown-item" href="#">list of studies</a>
            <div class="dropdown-divider"></div>
        </div>
        
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Select a Study<br /></a>
            <a class="dropdown-item" href="#">list of studies</a>
            <div class="dropdown-divider"></div>
        </div>
    </div>
    </div>
</div>